*

!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml

!apps/*/package.json
!packages/*/package.json

!apps/api
apps/api/coverage
apps/api/dist
apps/api/node_modules

!apps/web
apps/web/coverage
apps/web/dist
apps/web/node_modules

**/.env*
